<div class="contents row">
	<h2>Register your Account with Mobile Apps!</h2>
	<p>Hello <%= @current_user.name %>!<br><br>
    <table class="table" style="width:100%">
      <tr>
        <th><%= "Withings" %></th>
        <td><%= link_to 'Authorize Activity Tracker to access Withings', @withings_authorization_url %>
      </tr>
      <tr>
        <th><%= "Moves" %></th>
        <td><%= link_to 'Authorize Activity Tracker to access Moves', @moves_authorization_url %>
      </tr>

    </table>
	</p>
</br>

<%= link_to 'Log out', destroy_patient_session_path, :method => :delete %>

</div>