<div style="text-align: center">
<h1><%= @current_user.name %>'s Moves Activity from <%= @startdateymd %> to <%= @enddateymd %>.</h1></br>
	<%= form_tag moves_activity_path(@current_user), :method => :get do %>
	  <p> Please enter start and end dates for Moves Activity:
	    <%= text_field_tag :startdateymd, params[:startdateymd], placeholder: "Start: YYYYMMDD" %>
	    <%= text_field_tag :enddateymd, params[:enddateymd], placeholder: "End: YYYYMMDD" %>
	    <%= submit_tag "Submit" %>
	  </p>
	  <br>
	  	<%= button_to "Refresh tables", moves_activity_path, params:{:startdateymd => @startdateymd, :enddateymd => @enddateymd}, method: :get%>
	<% end %> 

	  <table id="activity_table" align="center">
	    <thead>
	      <tr>
	        <th scope="col">Date</th>
	        <th scope="col">Summary</th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @parsed_data.each do |data| %>
	        <tr>
	          <th scope="row" class="spec"><%= data["date"] %></th>
	          <td class="col-md-1" align="left">
	            <% if not data["summary"].nil? %>
              	  <% data["summary"].each do |activity_data|%>
              	    <%= activity_data["activity"]%>:  <%= '%.2f' % (activity_data["distance"].to_f / 1000) %> km traveled, <%= '%.2f' % (activity_data["duration"].to_f / 60.0) %> mins active, <%= activity_data["steps"] %> steps taken
              	    <br>
              	  <% end %>
	          	<% end %>
	          </td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>

</div>