<div class="contents row">
	<h2>Admin Dashboard</h2>
	<p>Hello <%= @current_user.name %>!  Below are the users signed up for Activity Tracker. 
	</p><br><br>

	<table id="user_table" align="center" width="900px">
	    <thead>
	      <tr>
	        <th scope="col" class="col-md-1">Name</th>
	        <th scope="col" class="col-md-1">DOB</th>
	        <th scope="col" class="col-md-1">MRN</th>
	        <th scope="col" class="col-md-1">Authorized Apps</th>
	        <th scope="col" class="col-md-1"></th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @patients.each do |patient| %>
	        <tr>
	          <th id="user_table" scope="row" class="spec"><%= patient.name %></td>
	          <td id="user_table" class="col-md-1"><%= patient.dob %></td>
	          <td id="user_table" class="col-md-1"><%= patient.mrn %></td>
			  <td id="user_table" class="col-md-1">
			  	<% if patient.withings_authorized %>
			  		<%= link_to 'Withings', "/patients/" + patient.id.to_s + "/withings_activity" %><br>
			  	<% end %>
			  	<% if patient.moves_authorized %>
			  		<%= link_to 'Moves', "/patients/" + patient.id.to_s + "/moves_activity" %><br>
			  	<% end %>
			  	<% if patient.fitbit_authorized %>
			  		<%= link_to 'Fitbit', "/patients/" + patient.id.to_s + "/fitbit_activity" %>
			  	<% end %>
			  </td>
			  <td id="user_table" class="col-md-1"><%= link_to 'Remove Patient', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table> </br></br>


	<%= link_to 'Edit Admin Profile', edit_admin_registration_path(@current_user)%><br>
	<%= link_to 'Log out', destroy_admin_session_path, :method => :delete %>

</div>